<div class="cabinDialog">
  <div mat-dialog-content>
    <h3 class="cabin-dialog__title">{{ data.title }}</h3>
    <div id="cabinCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" #image>
        <div class="carousel-item" *ngFor="let image of data.img">
          <img [src]="image" class="d-block w-100" alt="..." />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#cabinCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#cabinCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <h4 class="cabin-dialog-amenities__title">Amenities</h4>
    <div class="amenities ">
      <div *ngFor="let amenity of data.amenities" class="amenity">
        <fa-icon class="cabin-dialog-ammenities__icon" [icon]="faCheckSquare"></fa-icon>
        <p class="cabin-dialog-amenities__description">{{ amenity }}</p>
      </div>
      <div *ngFor="let warning of data.warning" class="warning">
        <fa-icon class="cabin-dialog-warning__icon" [icon]="faExclamationTriangle"></fa-icon>
        <p class="cabin-dialog-warning__description">{{ warning }}</p>
      </div>
    </div>
    <h4 class="cabin-dialog-about__title">About</h4>
    <p class="cabin-dialog-about__description">{{ data.description }}</p>

  </div>
</div>
