<div class="cabinDialog">
  <!-- <div mat-dialog-title>{{ data.title }}</div> -->
  <div mat-dialog-content>
    <h3>{{ data.title }}</h3>
    <!-- <img class="detailImage" [src]="data.img[0]" alt="" /> -->
    <div id="cabinCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" #image>
          <div class="carousel-item" *ngFor="let image of data.img">
            <img [src]="image" class="d-block w-100" alt="..." />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#cabinCarousel"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#cabinCarousel"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <h5>About</h5>
    <p>{{ data.description }}</p>
    <h5>Amenities</h5>
    <p>{{ data.amenities }}</p>
  </div>
</div>
