@import "../../app.component.scss";

.mainLogo{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  &:hover{
    cursor: pointer;
  }

}

.nav-bar{
  background-color: $main-color;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content{
  color: white !important;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.moreDropDown{
  display: inline-flex;
  padding-right: 5px;
}

.bookNow{
  position: absolute;
  right: 20px;
}

.moreIcon{
  color: white;
}

.mobileMenu{
  display: none;
}

@media screen and (max-width: 600px) {
  .mainLogo{
    left: 30px;
  }
  .nav-bar{
    justify-content: flex-end;
  }
  .webMenu{
    display: none;
  }
  .mobileMenu{
    display: block;
    position: relative;
    padding-right: 20px;
  }
}
