<div class="container">
  <br />
  <h1>Things To Do</h1>
  <br />

  <h2>The 9E Ranch</h2>
  <p>
    is a 320 acre ranch with ponds, Piney Creek, Loblolly Pines, oaks , hiking
    trails and gazebos with overlook of the best sunsets in Texas. Guests enjoy
    stargazing, hiking, forest bathing, birding, petting the miniature donkey,
    horses and sitting in rocking chairs relaxing. The 9E Ranch Cabins was
    awarded "Best for Stargazing" the first year open.
  </p>
  <br /><br />

  <h2>Shoppers will find</h2>
  <p>
    Smithville and Bastrop fun as well as excellent places to eat. Round Top,
    just 45 minutes away is an antiquer's paradise. Both Bastrop and Smithville
    are great small Texas towns with good food, historical homes, art Lost Pines
    Art Center, plays Bastrop Opera House and interestingBastrop Museum and
    Visitors Center. Smithville is proud of Smithville Veterans Memeorial Park,
    Train Museum and the location of films including "Hope Floats" , " Tree of
    Life" and "Bernie".
  </p>
  <br /><br />

  <h2>Golfers</h2>
  <p>
    stay at the 9E Ranch and play at all three golf courses in the area.
    ColoVista Golf Course course winds through beautiful vistas just east of
    Bastrop. Pine Forest Golf , an exquisite 18-hole course, carved out of the
    rolling hills of the Lost Pines Forest and has delighted golf enthusiasts
    for years with its blend of dramatic elevation changes, water hazards, sand
    traps and rolling fairways. Wolf Dancer Golf Club with it's 18 holes is a
    few miles west of Bastrop with spectacular and varied scenery, rolling
    prairie, wooded ridgeline and the Colorado River valley. The course occupies
    150 of the 405 acre Hyatt Regency Lost Pines Hotel & Resort.
  </p>
  <br /><br />

  <h2>Bastrop State Park (<a href="tpwd.texas.gov">tpwd.texas.gov</a>)</h2>

  <p>
    The park provides opportunities for picnicking, canoeing, swimming at the
    pool, hiking and wildlife viewing. <br /><br />
  </p>

  <h2>Buescher State Park</h2>
  <p>
    Activities at Buescher State Park include non-motorized boating, fishing in
    a stocked lake, nature study, hiking and biking. The 12-mile paved road
    between Buescher and Bastrop State Parks, which is winding and hilly, is
    ideal for biking.
  </p>
  <br /><br />

  <h2>McKinney Roughs Nature Park</h2>
  <p>
    west of Bastrop with 18 miles of hiking trails crisscrossing the 1,100 ares
    of bountiful nature. With its pervasive curves winding through Bastrop
    County, guests enjoy boating, canoeing, and fishing. One of the best access
    points to the Colorado River is in Bastrop, at Fisherman's Park. In
    Smithville there is access under the Texas 95 Bridge.
  </p>
  <br /><br />

  <h2>Fishing</h2>
  <p>
    Lake Bastrop is excellent fishing with 906 surface acres with heavily
    stocked large mouth bass, catfish and sunfish. The Colorado river runs
    through Bastrop and Smithville. f Explorebastropcounty.com
  </p>
  <br /><br />

  <h2>Birding at 9E</h2>
  <p>
    Birding is a favorite activity at the 9E Ranch Blue birds, Painted Buntings
    and Wild Turkey are often seen at the 9E Ranch. Bluebird houses are located
    throughtout pastures on the ranch. Birders come to the ranch and assist us
    in doing bird counts. Winter birds: Wood Duck, Ring-Necked Dove, Great Blue
    Heron, Black Vulture, Turkey Vulture, Killdeer, White-Winged Dove,Mourning
    Dove, Red-Bellied Woodpecker, Yellow-Bellied Sapsucker, Downy Woodpecker,
    Pileated Woodpecker, Crested Caracara, Eastern Phoebe, Blue Jay, American
    Crow, Carolina Chickadee , Tufted Titmouse, Black-Crested Titmouse, Carolina
    Wren, Ruby-Crowned Kinglet, Eastern Bluebird, Hermit Thrush, Northern
    Mockingbird, Cedar Waxwing, Pine Warbler, Yellow Rumped Warbler, Spotted
    Towhee, Chipping Sparrow, White-Throated Sparrow, White-Crowned Sparrow,
    Nothern Cardinal, Red-Winged Blackbird, Brown-Headed Cowbird, Pine Siskin,
    American Goldfinch Summer Counts added: Mourning Dove, Barred Owl,
    Chuck-Will's-Widow, Ruby-Throated Hummigbird, Scissor-Tailed Flycatcher,Pine
    Warbler, Summer Tanager, Painted Bunting, House Finch Blue-Gray Gnatcatcher
  </p>
  <br /><br />

  <h2>The Quiet Garden</h2>
  <p>
    The 9E Ranch has been a part of the Quiet Garden movement for over a decade
    providing outdoor space for the inner journey. The Quiet Garden Movement was
    started in England and now includes over 300 gardens worldwide. The idea is
    to provide access to outdoor space for prayer and reflection to create
    opportunities for people to experience silence, restfulness and
    contemplation. The Quiet Garden Movement flows from the example of Jesus'
    withdrawal to places to pray and his invitation to "Come with me by
    yourselves to a quiet place and get some rest " (Mark 6:31) The Gardens at
    the Ranch House on the 9E Ranch are open from 10:00 until dark for guests
    and we consider the entire ranch to be a Quiet Garden with many paths. Quiet
    Garden Retreat reduced rate with 3 night minimum in Daisy and Eagles' Nest
    Cabins on Monday, through Thursday nights. Just note Quiet Garden when you
    book.
  </p>
  <br><br>

  <h2>Joan Bohls' Art</h2>
  <p>Joan Bohls has been painting in oils for over 2 decades and studied
  art/painting at The University of Texas as well as taking workshops from many
  well known artist. She is a member ofOil Painters of America, Outdoor Painter
  Society and Lost Pines Art CenterLPAC ( she serves on the Board of Directors )
  and teaches Plein Air Painting. As you visit the 9E Ranch, please enjoy her
  paintings in the cabins. If you fall in love with any of the paintings, please
  talk to Joan or Kent abour adopting it and taking it home with you.</p>
</div>
