@import "../../app.component.scss";

.carousel-item{

  img{
    width: 100%;
    min-width: 1200px;
  }
}

.carousel-inner{
  height: 90vh;
  display: flex;
  align-items: center;
}

.datepickerContainer{
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  z-index:10;
}

.datepicker{
  display: flex;
  justify-content: center;
  background: rgba(255,255,255,0.6);
  padding: 10px;
}

.date {
  padding: 0 20px;
  padding-top: 10px;
}

.datepickerSearch{
  background: $main-color;
  border: $main-color;
  color: white;
  height: 40px;
  border-radius: 3px;
}
