.cabin{
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.cabin-img{
  height: 400px;
  border: 1px black solid;
  padding: 0;
}
.amenity{
  display: flex;
}
p {
  margin-bottom: 0;
  padding-left: 10px;
}
